header {
  text-align: center;
  top: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}
h1 {
  color: white;
  margin-top: 0;
  margin-bottom: 5px;
}
hr {
  margin-top: 0;
}
body {
  background-color: rgb(61, 61, 233);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
h2 {
  color: white;
  font-size: 35px;
}
.coinSearch {
  padding-left: 15px;
  width: 35%;
  border-radius: 7px;
  box-shadow: none;
}
h3 {
  color: white;
}
.crypto-container {
  display: grid;
  grid-template-columns: 8% 15% 15% 20% 20% 25%;
  color: white;
  width: 100%;
  margin: 2% 0 2% 0;
  text-align: center;
  font-size: 15px;
}
.labels {
  display: grid;
  grid-template-columns: 8% 15% 17% 20% 21% 27%;
  color: white;
  font-family: Poppins;
  font-weight: 800;
  font-size: 25px;
  text-align: center;
}
.labels div {
  margin-left: 5px;
}
hr {
  width: 100%;
  color: white;
  background: white;
  margin-top: 5px;
}
